
RedTide/.idea/
RedTide/Library/
RedTide/obj/
RedTide/Temp/
RedTide/Assembly-CSharp.csproj
RedTide/Assembly-CSharp-Editor.csproj
RedTide/Assembly-CSharp-Editor-firstpass.csproj
RedTide/Assembly-CSharp-firstpass.csproj
RedTide/RedTide.sln
